{% extends "base.html" %}

{% block main %}
    <h1 class="page-header">Properties</h1>
    {%if prop%}
        <div class="layout">
            {%for p in prop%}
                <div class="card">
                    <img src="{{ url_for('get_Image', filename = p.photo)}}"/>
                    <div class="text">
                        <h2>{{ p.title }}</h2>
                        <p class="location"><img src="{{ url_for('get_Icon',filename = 'locationTag.png')}}"/>{{ p.location }}</p>
                        <p class="price"><span>{{ p.price }}</span></p>
                    </div>
                    <form method = "POST" action="{{url_for('view_property',propertyid = p.id)}}" enctype="multipart/form-data">
                        <button type = "submit" name = "submit">View Property</button>
                    </form>
                </div>
            {%endfor%}
        </div>
    {%else%}
        <p>There are currently no properties to display.</p>
    {%endif%}
{% endblock %}